<header>
    <div class="header">
        <h1><a href="/" class="noselect">51ng3</a></h1>
        <nav>
            <ul>
                <li><a class="noselect" href="/">Home</a></li>
                <li><a class="noselect" href="/about">Writeups</a></li>
                <li><a class="noselect" href="/team">The team</a></li>
            </ul>
        </nav>
    </div>
</header>