<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>51ng3 - 404</title>
    <link rel="shortcut icon" href="/img/icons/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include("partials/header.ejs") %>

    <div class="content">
        <h1>404</h1>
        <h2>This ressources does not exist</h2>
    </div>
    
    
</body>
</html>