.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 50px 10%;
}

.writeup-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.writeup-title{
    color: #ffe712;
}

.writeup-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;

    gap: 35px;
}

.writeup-info span{
    height: 25px;
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.writeup-info span img{
    max-height: 20px;
    max-width: 20px;
    aspect-ratio: 1/1;
    margin-right: 8px;

    filter: invert(90%) sepia(56%) saturate(1861%) hue-rotate(334deg) brightness(112%) contrast(84%);
}


.writeup {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.writeup a:link{
    text-decoration: underline;
    /* color: inherit; */
    color: #fffb80;
}

.writeup a:hover{
    filter: brightness(0.8);
}

.writeup a:visited{
    color: #fffb80;
}

.writeup h1{
    margin-top: 50px;
}

.writeup pre{
    border: 1px solid #5c5b48;
    border-radius: 5px;
    overflow: hidden;
}

.writeup table, .writeup th, .writeup td{
    border: 2px solid #5c5b48;
    border-collapse: collapse;
    padding: 2px 5px 0 5px;
}

.writeup table thead tr{
    background-color: #5c5b48;
    color: #fffb80;
}

.writeup img{
    max-width: 100%;
    max-height: 200vh;
    height: auto;
    margin: 10px 0;
}

/*Inline codes*/
.writeup code:not([class]){ 
    color: #fff396;
}