services:
  cdn:
    build:
      context: ./dist
      dockerfile: Dockerfile.cdn
    expose:
      - "80"
    env_file: ./dist/env-target.env
    tmpfs:
      - /uploads:size=2G,noexec,nosuid,nodev,mode=777
    restart: unless-stopped

  website:
    build:
      context: ./dist
      dockerfile: Dockerfile.website
    expose:
      - "80"
    depends_on:
      - cdn
    env_file: ./dist/env-target.env
    restart: unless-stopped

  bot:
    build:
      context: ./dist
      dockerfile: Dockerfile.bot
    expose:
      - "80"
    depends_on:
      - cdn
      - website
    env_file: ./dist/env-bot.env
    restart: unless-stopped
